body {
  display: grid;
  grid-template-rows: 3px minmax(0, 1fr) 3px;
  place-items: stretch;
  min-height: 100vh;
  overflow: hidden;
}

.visualizer {
  --inactive: #aeaeae;
  background: var(--inactive);
}

.swiper {
  width: 100%;
}

.group {
  display: flex;
  width: min-content;
}

.group:not(.swiper-slide-active) {
  opacity: 0.3;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.info {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
}
