body {
  display: grid;
  grid-template-rows: 10px minmax(0, 1fr) 10px;
  /* place-items: stretch; */
  min-height: 100vh;
  overflow: hidden;
}

.visualizer {
  --inactive: #aeaeae;
  background: var(--inactive);
  position: relative;
  z-index: 1;
}

.effect {
  position: absolute;
  height: 40px;
  width: 100%;
}

.effect.below {
  top: 100%;
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.1) 30%,
    transparent
  );
}

.effect.above {
  bottom: 100%;
  mask-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.1) 30%,
    transparent
  );
}

.swiper {
  width: 100%;
  z-index: 0;
}

.group {
  display: flex;
  width: min-content;
}

.group:not(.swiper-slide-active) {
  opacity: 0.3;
}

.canvas-wrapper {
  position: relative;
}

.canvas-wrapper > canvas {
  position: absolute;
  height: 100%;
}

#welcome {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.info {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
}

#input {
  display: none;
}
