body {
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
  overflow: hidden;
  background: #fff;
}

.visualizer {
  flex: 0 0 10px;
  --inactive: #aeaeae;
  background: var(--inactive);
  position: relative;
  z-index: 1;
  display: flex;
}

.effect {
  position: absolute;
  height: 40px;
  width: 100%;
  --break-1: rgb(0 0 0 / 0.3);
  --break-2: rgb(0 0 0 / 0.1) 30%;
  --break-3: transparent;
  display: flex;
}

.note {
  flex: 1 1 auto;
}

.effect.below {
  top: 100%;
  mask-image: linear-gradient(
    to bottom,
    var(--break-1),
    var(--break-2),
    var(--break-3)
  );
}

.effect.above {
  bottom: 100%;
  mask-image: linear-gradient(
    to top,
    var(--break-1),
    var(--break-2),
    var(--break-3)
  );
}

.swiper {
  flex: 1 1 auto;
  overflow: hidden;
  width: 100%;
  z-index: 0;
}

.group {
  display: flex;
  width: min-content;
}

.group:not(.swiper-slide-active) {
  opacity: 0.3;
}

.page {
  display: grid;
  align-items: center;
}

.page > * {
  grid-area: 1 / 1;
}

.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(255 255 255 / 0.7);
  backdrop-filter: blur(3px);
}

.welcome {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1rem;
}

.info {
  text-transform: uppercase;
}

.info.level-1 {
  font-size: 2rem;
  font-weight: bold;
}

.info.level-2 {
  font-size: 1rem;
}

#upload {
  text-decoration: underline dotted;
  color: var(--swiper-theme-color, blue);
  transition: filter 0.3s ease-in-out;
}

#upload:hover {
  filter: brightness(0.7);
}

#input {
  display: none;
}

/* Imported from loading.io */
.spinner {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.spinner:after {
  content: ' ';
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  --color: rgb(0 0 0 / 0.2);
  border: 6px solid var(--color);
  border-color: var(--color) transparent var(--color) transparent;
  animation: spinner 1.2s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
